// Place all the styles related to the directors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{

}

h1{
  margin: 20 auto;
}

img{
  max-width: 200px;

}

nav li{
  // display: inline-block;
  list-style: none;
}

nav{
  float:right;
}
