<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Female Creators Database</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to Female Directors Database</h1>
  <img id="bigelow"  src="http://www.trustcollective.com/wp-content/uploads/2013/03/h-14.alb263480-3393717_0x440.jpg" alt="">
  <hr>

    <%= yield %>
  <hr>

<footer>
  <p>footer: Other female creators around the world database coming soon</p>
</footer>

</body>
</html>
