<h2>New Director</h2>

<form class="" action="/directors" method="post">
  <p>
    <label for="">Name:</label>
    <input type="text" name="name" placeholder="name">
  </p>
  <p>
    <label for="">Profile Image URL:</label>
    <input type="text" name="profile_img" placeholder="Profile Image">
  </p>
  <p>
    <label for="">Description:</label>
    <input type="text" name="description" placeholder="Description">
  </p>
  <p>
    <label for="">Featured Number:</label>
    <input type="text" name="featured_num" placeholder="Featured Numbers">
  </p>
  <p>
    <label for="">Featured Movies:</label>
    <input type="text" name="featured" placeholder="Featured Movies">
  </p>
  <p>
    <label for="">Featured Image:</label>
    <input type="text" name="featured_img" placeholder="Featured Image">
  </p>
  <input type="submit" name="" value="Create Director Profile">
</form>
