<h1>Director Profile</h1>


<img class="profile_pic" src="<%= @director.image %>" alt="">

<p><%= @director.name %></p>
<p>Nationality: <%= @director.nationality %></p>
<p>DOB: <%= @director.dob %></p>
