body{
  background-color: #049372;
  color: white;
  font-family: "Helvetica", serif;
  /*margin: 0;*/
}


.results{
  /*width: 800px;*/
  margin: 20px auto;
}

img{
  width:200px;
}

.info{
  /*float:right;*/
  vertical-align: top;
  display: inline-block;
  width:580px;
  padding-left: 20px;
}

span{
  float:right;
}

.poster{
  display: inline-block;
}
