
<div class="container">


  <form>
    <input type="text" id="searchFlickr" placeholder="Flickr...">
    <button id="search-button" class="waves-effect waves-light btn">Search...</button>

    <div id="search-progress" class="progress" style="display: none">
      <div class="indeterminate"></div>
    </div>
  </form>

  <!-- <button type="button" id="previous">Prev</button>
  <span id="pagenumber"></span>
  <button type="button" id="next">Next</button> -->

  <div class="divider"></div>




  <div id="images" class="container">
    <div id="display" class="row">

    </div>
  </div>

  <div id="scroll-holder">
    <button id="load-more" class="waves-effect waves-light btn">Load More</button>
    <div id="load-progress" class="progress" style="display: none">
      <div class="indeterminate"></div>
    </div>
  </div>


  <div id="modal1" class="modal">
    <div class="modal-content">
      <div id="img-container" class="">

      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <div id="slides">

  </div>

</div>
